.world-campfire-screen > .l-hire-dialog-container .content .details-container .row.is-ingredients-container > .is-components-container
{
    top: 0.0rem;
    bottom: 0.0rem;

    width: 47.0rem;
}

.world-campfire-screen > .l-hire-dialog-container .content .details-container .row.is-requirements-container
{
    top: 25.0rem;
    height: 20.0rem;
}

.world-campfire-screen > .l-hire-dialog-container .content .details-container .row.is-requirements-container > .is-requirements-components-container
{    
    width: 47.0rem;
}